<h3>{{localize "madness.item.requirements"}}</h3>
<table>
  <thead>
    <tr>
      <th>{{localize "madness.character.magic.ome"}}</th>
      <th>{{localize "madness.character.magic.erah"}}</th>
      <th>{{localize "madness.character.magic.sith"}}</th>
      <th>{{localize "madness.character.magic.shor"}}</th>
      <th>{{localize "madness.character.magic.teruuk"}}</th>
      <th>{{localize "madness.character.magic.doka"}}</th>
      <th>{{localize "madness.character.magic.natah"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input name="system.requirements.ome" type="text" value="{{system.requirements.ome}}" data-dtype="Number" />
      </td>
      <td>
        <input name="system.requirements.erah" type="text" value="{{system.requirements.erah}}" data-dtype="Number" />
      </td>
      <td>
        <input name="system.requirements.sith" type="text" value="{{system.requirements.sith}}" data-dtype="Number" />
      </td>
      <td>
        <input name="system.requirements.shor" type="text" value="{{system.requirements.shor}}" data-dtype="Number" />
      </td>
      <td>
        <input name="system.requirements.teruuk" type="text" value="{{system.requirements.teruuk}}"
          data-dtype="Number" />
      </td>
      <td>
        <input name="system.requirements.doka" type="text" value="{{system.requirements.doka}}" data-dtype="Number" />
      </td>
      <td>
        <input name="system.requirements.natah" type="text" value="{{system.requirements.natah}}" data-dtype="Number" />
      </td>
    </tr>
  </tbody>
</table>
<h3>{{localize "madness.item.damageDice"}}</h3>
<table>
  <thead>
    <tr>
      <th>{{localize "madness.character.stats.intelligence"}}</th>
      <th>{{localize "madness.character.stats.constitution"}}</th>
      <th>{{localize "madness.character.stats.dexterity"}}</th>
      <th>{{localize "madness.character.stats.agility"}}</th>
      <th>{{localize "madness.character.stats.strength"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input name="system.damage.roll.intelligence" type="text" value="{{system.damage.roll.intelligence}}"
          data-dtype="Number" />
      </td>
      <td>
        <input name="system.damage.roll.constitution" type="text" value="{{system.damage.roll.constitution}}"
          data-dtype="Number" />
      </td>
      <td>
        <input name="system.damage.roll.dexterity" type="text" value="{{system.damage.roll.dexterity}}"
          data-dtype="Number" />
      </td>
      <td>
        <input name="system.damage.roll.agility" type="text" value="{{system.damage.roll.agility}}" data-dtype="Number" />
      </td>
      <td>
        <input name="system.damage.roll.strength" type="text" value="{{system.damage.roll.strength}}"
          data-dtype="Number" />
      </td>
    </tr>
  </tbody>
</table>
<p>
  {{localize "madness.item.damage"}} : <input name="system.damage.base" type="text" value="{{system.damage.base}}"
    data-dtype="Number" />
</p>
<p>
  {{localize "madness.item.range"}} : <input name="system.range" type="text" value="{{system.range}}" data-dtype="Number" />
</p>
<p>
  {{localize "madness.item.skill.manaCost"}} : <input name="system.cost.mp" type="text" value="{{system.cost.mp}}"
    data-dtype="Number" />
</p>