<div class="row skill-card item" data-item-id="{{_id}}" data-item-damage="{{#if roll}}{{roll.total}}{{else}}{{item.system.damage.base}}{{/if}}">
  <div class="{{#if inSheet}} item-roll {{/if}}">{{item.name}}</div>
  <div>{{#unless inSheet}}{{localize "madness.item.skill.manaCost"}} : {{/unless}}{{item.system.cost.mp}}</div>
  <div>
    {{#if item.system.damage.roll.intelligence}}
      {{item.system.damage.roll.intelligence}} d {{localize "madness.character.stats.intelligence"}} +
    {{/if}}
    {{#if item.system.damage.roll.constitution}}
      {{item.system.damage.roll.constitution}} d {{localize "madness.character.stats.constitution"}} +
    {{/if}}
    {{#if item.system.damage.roll.dexterity}}
      {{item.system.damage.roll.dexterity}} d {{localize "madness.character.stats.dexterity"}} +
    {{/if}}
    {{#if item.system.damage.roll.agility}}
      {{item.system.damage.roll.agility}} d {{localize "madness.character.stats.agility"}} +
    {{/if}}
    {{#if item.system.damage.roll.strength}}
      {{item.system.damage.roll.strength}} d {{localize "madness.character.stats.strength"}} +
    {{/if}}
    {{item.system.damage.base}}
  </div>
</div>