<div class="evade-check">
    <p>
      {{#if isCriticalSuccess }}
        {{localize "madness.chat.attack.criticalSuccess"}}
      {{else}}
        {{#if isSuccess}}
          {{localize "madness.chat.attack.success"}}
        {{else}}
          {{#if isCriticalFail}}
            {{localize "madness.chat.attack.criticalFail"}}
          {{else}}
            {{localize "madness.chat.attack.fail"}}
          {{/if}}
        {{/if}}
      {{/if}}
    </p>
    <div>
      {{roll.total}}
    </div>
</div>