<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="charname">
      {{actor.name}} {{system.lastName}}
    </h1>
    <img class="charpicture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <table>
      <tr>
        <th>{{ localize "madness.character.firstName" }}</th>
        <td><input name="name" type="text" value="{{actor.name}}" /></td>
      </tr>
      <tr>
        <th>{{localize "Name"}}</th>
        <td><input name="system.lastName" type="text" value="{{system.lastName}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.age"}}</th>
        <td><input name="system.age" type="text" value="{{system.age}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.race"}}</th>
        <td><input name="system.race" type="text" value="{{system.race}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.job"}}</th>
        <td><input name="system.job" type="text" value="{{system.job}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.affilitation"}}</th>
        <td><input name="system.affilitation" type="text" value="{{system.affilitation}}" /></td>
      </tr>
    </table>
  </header>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.baseStat"}}</th>
          <th colspan="1">{{localize "madness.character.modStats"}}</th>
          <th colspan="1">{{localize "madness.character.actualStats"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "madness.character.healthPoints"}}</th>
          <td><input name="system.healthPoints.value" type="text" value="{{system.healthPoints.value}}"
              data-dtype="Number" /></td>
          <td></td>
          <td>{{system.healthPoints.max}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.manaPoints"}}</th>
          <td><input name="system.manaPoints.value" type="text" value="{{system.manaPoints.value}}"
              data-dtype="Number" /></td>
          <td></td>
          <td>{{system.manaPoints.max}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="intelligence" data-statvalue="{{system.stats.intelligence.base}}" data-modvalue="{{system.stats.intelligence.mod}}">{{localize "madness.character.stats.intelligence"}}</th>
          <td><input name="system.stats.intelligence.base" type="text" value="{{system.stats.intelligence.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.intelligence.mod}}</td>
          <td>{{system.stats.intelligence.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="constitution" data-statvalue="{{system.stats.constitution.base}}" data-modvalue="{{system.stats.constitution.mod}}">{{localize "madness.character.stats.constitution"}}</th>
          <td><input name="system.stats.constitution.base" type="text" value="{{system.stats.constitution.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.constitution.mod}}</td>
          <td>{{system.stats.constitution.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="dexterity" data-statvalue="{{system.stats.dexterity.base}}" data-modvalue="{{system.stats.dexterity.mod}}">{{localize "madness.character.stats.dexterity"}}</th>
          <td><input name="system.stats.dexterity.base" type="text" value="{{system.stats.dexterity.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.dexterity.mod}}</td>
          <td>{{system.stats.dexterity.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="agility" data-statvalue="{{system.stats.agility.base}}" data-modvalue="{{system.stats.agility.mod}}">{{localize "madness.character.stats.agility"}}</th>
          <td><input name="system.stats.agility.base" type="text" value="{{system.stats.agility.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.agility.mod}}</td>
          <td>{{system.stats.agility.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="strength" data-statvalue="{{system.stats.strength.base}}" data-modvalue="{{system.stats.strength.mod}}">{{localize "madness.character.stats.strength"}}</th>
          <td><input name="system.stats.strength.base" type="text" value="{{system.stats.strength.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.strength.mod}}</td>
          <td>{{system.stats.strength.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>{{localize "madness.character.secondaryStats"}}</th>
          <th>{{localize "madness.character.modStats"}}</th>
          <th>{{localize "madness.character.actualStats"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "madness.character.stats.parryDamageReduction"}}</th>
          <td>{{system.stats.parryDamageReduction.base}}</td>
          <td>{{system.stats.parryDamageReduction.mod}}</td>
          <td>{{system.stats.parryDamageReduction.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.critRate"}}</th>
          <td>{{system.stats.critRate.base}}</td>
          <td>{{system.stats.critRate.mod}}</td>
          <td>{{system.stats.critRate.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.evadeRate"}}</th>
          <td>{{system.stats.evadeRate.base}}</td>
          <td>{{system.stats.evadeRate.mod}}</td>
          <td>{{system.stats.evadeRate.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxMoveDistance"}}</th>
          <td>{{system.stats.maxMoveDistance.base}}</td>
          <td>{{system.stats.maxMoveDistance.mod}}</td>
          <td>{{system.stats.maxMoveDistance.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.initiativeBonus"}}</th>
          <td>{{system.stats.initiativeBonus.base}}</td>
          <td>{{system.stats.initiativeBonus.mod}}</td>
          <td>{{system.stats.initiativeBonus.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxEquipmentWeight"}}</th>
          <td>{{system.stats.maxEquipmentWeight.base}}</td>
          <td>{{system.stats.maxEquipmentWeight.mod}}</td>
          <td>{{system.stats.maxEquipmentWeight.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxWeight"}}</th>
          <td>{{system.stats.maxWeight.base}}</td>
          <td>{{system.stats.maxWeight.mod}}</td>
          <td>{{system.stats.maxWeight.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.magnusArts"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.ome}}">{{localize "madness.character.magic.ome"}}</th>
          <td><input name="system.magic.ome" type="text" value="{{system.magic.ome}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.erah}}">{{localize "madness.character.magic.erah"}}</th>
          <td><input name="system.magic.erah" type="text" value="{{system.magic.erah}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.sith}}">{{localize "madness.character.magic.sith"}}</th>
          <td><input name="system.magic.sith" type="text" value="{{system.magic.sith}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.shor}}">{{localize "madness.character.magic.shor"}}</th>
          <td><input name="system.magic.shor" type="text" value="{{system.magic.shor}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.teruuk}}">{{localize "madness.character.magic.teruuk"}}</th>
          <td><input name="system.magic.teruuk" type="text" value="{{system.magic.teruuk}}"
              data-dtype="Number" /></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.combinedMagnusArts"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.doka}}">{{localize "madness.character.magic.doka"}}</th>
          <td>{{system.magic.doka}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.natah}}">{{localize "madness.character.magic.natah"}}</th>
          <td>{{system.magic.natah}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <section class="container">
    <div class="row">
      <div>{{localize "Name"}}</div>
      <div>{{localize "madness.item.skill.manaCost"}}</div>
      <div>{{localize "madness.item.damage"}}</div>
    </div>
    {{#each skills as |skill id|}}
      {{> 'systems/madness/templates/partials/skill-card.hbs' skill inSheet=true}}
    {{/each}}
  </section>
  <section class="container">
      <div class="row">
        <div>{{localize "Name"}}</div>
        <div>{{localize "madness.item.weight"}}</div>
        <div>{{localize "madness.item.magazine"}}</div>
      </div>
      {{#each weapons as |weapon id|}}
        {{> 'systems/madness/templates/partials/weapon-card.hbs' weapon inSheet=true}}
      {{/each}}
  </section>
</form>