<form class="actor-sheet {{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="charname">
      {{actor.name}} {{system.lastName}}
    </h1>
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <table>
      <tr>
        <th>{{ localize "madness.character.firstName" }}</th>
        <td><input name="name" type="text" value="{{actor.name}}" /></td>
      </tr>
      <tr>
        <th>{{localize "Name"}}</th>
        <td><input name="system.lastName" type="text" value="{{system.lastName}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.age"}}</th>
        <td><input name="system.age" type="text" value="{{system.age}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.race"}}</th>
        <td><input name="system.race" type="text" value="{{system.race}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.job"}}</th>
        <td><input name="system.job" type="text" value="{{system.job}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.affilitation"}}</th>
        <td><input name="system.affilitation" type="text" value="{{system.affilitation}}" /></td>
      </tr>
    </table>
  </header>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.baseStat"}}</th>
          <th colspan="1">{{localize "madness.character.modStats"}}</th>
          <th colspan="2">{{localize "madness.character.actualStats"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "madness.character.stats.intelligence"}}</th>
          <td><input name="system.stats.intelligence.base" type="text" value="{{system.stats.intelligence.base}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.constitution"}}</th>
          <td><input name="system.stats.constitution.base" type="text" value="{{system.stats.constitution.base}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.dexterity"}}</th>
          <td><input name="system.stats.dexterity.base" type="text" value="{{system.stats.dexterity.base}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.agility"}}</th>
          <td><input name="system.stats.agility.base" type="text" value="{{system.stats.agility.base}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.strength"}}</th>
          <td><input name="system.stats.strength.base" type="text" value="{{system.stats.strength.base}}"
              data-dtype="Number" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.secondaryStats"}}</th>
          <th colspan="1">{{localize "madness.character.modStats"}}</th>
          <th colspan="2">{{localize "madness.character.actualStats"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "madness.character.stats.parryDamageReduction"}}</th>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.critRate"}}</th>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.evadeRade"}}</th>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxMoveDistance"}}</th>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.initiativeBonus"}}</th>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxEquipmentWeight"}}</th>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxWeight"}}</th>
        </tr>
      </tbody>
    </table>
  </div>
  <section>
    <table>
      <thead>
        <th>{{localize "Name"}}</th>
        <th>{{localize "madness.item.weight"}}</th>
        <th>{{localize "madness.item.magazine"}}</th>
      </thead>
      <tbody>
        {{#each weapons as |weapon id|}}
          <tr class="weapon-card item" data-item-id="{{weapon._id}}">
            <td>{{name}}</td>
            <td>{{system.weight}}</td>
            <td>{{system.magazine}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</form>