<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1 class="charname">
      {{actor.name}} {{system.lastName}}
    </h1>
    <img class="charpicture" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
    <table>
      <tr>
        <th>{{ localize "madness.character.firstName" }}</th>
        <td><input name="name" type="text" value="{{actor.name}}" /></td>
      </tr>
      <tr>
        <th>{{localize "Name"}}</th>
        <td><input name="system.lastName" type="text" value="{{system.lastName}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.age"}}</th>
        <td><input name="system.age" type="text" value="{{system.age}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.race"}}</th>
        <td><input name="system.race" type="text" value="{{system.race}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.job"}}</th>
        <td><input name="system.job" type="text" value="{{system.job}}" /></td>
      </tr>
      <tr>
        <th>{{localize "madness.character.affilitation"}}</th>
        <td><input name="system.affilitation" type="text" value="{{system.affilitation}}" /></td>
      </tr>
    </table>
  </header>
  <section>
    <table>
      <tr>
        <th colspan="2">{{localize "madness.character.passiveEffects"}}</th>
        <th>{{localize "madness.active"}}</th>
        <th>
          <button class="effect-control" data-action="create"><i class="fas fa-plus"></i></button>
        </th>
      </tr>
      {{#each effects as |effect|}}
      <tr class ="actor-effect" data-effect-id="{{effect.id}}">
        <td class="effect-name">
          {{effect.name}}
        </td>
        <td>
          {{effect.description}}
        </td>
        <td>
          <button class="effect-toggle"><i class="fas {{#if effect.disabled}}fa-times{{else}}fa-check{{/if}}"></i></button>
        </td>
      </tr>
      {{/each}}
    </table>
  </section>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.baseStat"}}</th>
          <th colspan="1">{{localize "madness.character.modStats"}}</th>
          <th colspan="1">{{localize "madness.character.actualStats"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "madness.character.hitPoints"}}</th>
          <td>{{system.attributes.hp.max}}</td>
          <td></td>
          <td><input name="system.attributes.hp.value" type="text" value="{{system.attributes.hp.value}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th>{{localize "madness.character.manaPoints"}}</th>
          <td>{{system.attributes.mp.max}}</td>
          <td></td>
          <td><input name="system.attributes.mp.value" type="text" value="{{system.attributes.mp.value}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="intelligence" data-statvalue="{{system.stats.intelligence.base}}" data-modvalue="{{system.stats.intelligence.mod}}">{{localize "madness.character.stats.intelligence"}}</th>
          <td><input name="system.stats.intelligence.base" type="text" value="{{system.stats.intelligence.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.intelligence.mod}}</td>
          <td>{{system.stats.intelligence.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="constitution" data-statvalue="{{system.stats.constitution.base}}" data-modvalue="{{system.stats.constitution.mod}}">{{localize "madness.character.stats.constitution"}}</th>
          <td><input name="system.stats.constitution.base" type="text" value="{{system.stats.constitution.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.constitution.mod}}</td>
          <td>{{system.stats.constitution.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="dexterity" data-statvalue="{{system.stats.dexterity.base}}" data-modvalue="{{system.stats.dexterity.mod}}">{{localize "madness.character.stats.dexterity"}}</th>
          <td><input name="system.stats.dexterity.base" type="text" value="{{system.stats.dexterity.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.dexterity.mod}}</td>
          <td>{{system.stats.dexterity.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="agility" data-statvalue="{{system.stats.agility.base}}" data-modvalue="{{system.stats.agility.mod}}">{{localize "madness.character.stats.agility"}}</th>
          <td><input name="system.stats.agility.base" type="text" value="{{system.stats.agility.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.agility.mod}}</td>
          <td>{{system.stats.agility.total}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-stat-name="strength" data-statvalue="{{system.stats.strength.base}}" data-modvalue="{{system.stats.strength.mod}}">{{localize "madness.character.stats.strength"}}</th>
          <td><input name="system.stats.strength.base" type="text" value="{{system.stats.strength.base}}"
              data-dtype="Number" /></td>
          <td>{{system.stats.strength.mod}}</td>
          <td>{{system.stats.strength.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>{{localize "madness.character.secondaryStats"}}</th>
          <th>{{localize "madness.character.modStats"}}</th>
          <th>{{localize "madness.character.actualStats"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{localize "madness.character.stats.parryDamageReduction"}}</th>
          <td>{{system.stats.parryDamageReduction.base}}</td>
          <td>{{system.stats.parryDamageReduction.mod}}</td>
          <td>{{system.stats.parryDamageReduction.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.critRate"}}</th>
          <td>{{system.stats.critRate.base}}</td>
          <td>{{system.stats.critRate.mod}}</td>
          <td>{{system.stats.critRate.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.evadeRate"}}</th>
          <td>{{system.stats.evadeRate.base}}</td>
          <td>{{system.stats.evadeRate.mod}}</td>
          <td>{{system.stats.evadeRate.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxMoveDistance"}}</th>
          <td>{{system.stats.maxMoveDistance.base}}</td>
          <td>{{system.stats.maxMoveDistance.mod}}</td>
          <td>{{system.stats.maxMoveDistance.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.initiativeBonus"}}</th>
          <td>{{system.stats.initiativeBonus.base}}</td>
          <td>{{system.stats.initiativeBonus.mod}}</td>
          <td>{{system.stats.initiativeBonus.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxEquipmentWeight"}}</th>
          <td>{{system.stats.maxEquipmentWeight.base}}</td>
          <td>{{system.stats.maxEquipmentWeight.mod}}</td>
          <td>{{system.stats.maxEquipmentWeight.total}}</td>
        </tr>
        <tr>
          <th>{{localize "madness.character.stats.maxWeight"}}</th>
          <td>{{system.stats.maxWeight.base}}</td>
          <td>{{system.stats.maxWeight.mod}}</td>
          <td>{{system.stats.maxWeight.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.magnusArts"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.ome.value}}">{{localize "madness.character.magic.ome"}}</th>
          <td><input name="system.magic.ome.value" type="text" value="{{system.magic.ome.value}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.erah.value}}">{{localize "madness.character.magic.erah"}}</th>
          <td><input name="system.magic.erah.value" type="text" value="{{system.magic.erah.value}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.sith.value}}">{{localize "madness.character.magic.sith"}}</th>
          <td><input name="system.magic.sith.value" type="text" value="{{system.magic.sith.value}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.shor.value}}">{{localize "madness.character.magic.shor"}}</th>
          <td><input name="system.magic.shor.value" type="text" value="{{system.magic.shor.value}}"
              data-dtype="Number" /></td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.teruuk.value}}">{{localize "madness.character.magic.teruuk"}}</th>
          <td><input name="system.magic.teruuk.value" type="text" value="{{system.magic.teruuk.value}}"
              data-dtype="Number" /></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{localize "madness.character.combinedMagnusArts"}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.doka.value}}">{{localize "madness.character.magic.doka"}}</th>
          <td>{{system.magic.doka.value}}</td>
        </tr>
        <tr>
          <th class="stat-roll" data-statvalue="{{system.magic.natah.value}}">{{localize "madness.character.magic.natah"}}</th>
          <td>{{system.magic.natah.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <section class="container item-list">
    <h3>{{localize "madness.character.skills" }}</h3>
    <button class="item-create" data-type="skill"><i class="fas fa-plus"></i> {{localize "madness.sheet.addSkill"}}</button>
    <div class="row">
      <div>{{localize "Name"}}</div>
      <div>{{localize "madness.item.skill.manaCost"}}</div>
      <div>{{localize "madness.item.damage"}}</div>
    </div>
    {{#each skills as |skill id|}}
      {{> "madness.skill-card" item=skill inSheet=true}}
    {{/each}}
  </section>
  <section class="container">
    <!-- <a id="item-create" data-type="weapon" title="{{localize "madness.sheet.addWeapon"}}"><i class="fas fa-plus"></i></a> -->
      <div class="row">
        <div>{{localize "Name"}}</div>
        <div>{{localize "madness.item.weight"}}</div>
        <div>{{localize "madness.item.magazine"}}</div>
      </div>
      {{#each weapons as |weapon id|}}
        {{> "madness.weapon-card" weapon inSheet=true}}
      {{/each}}
  </section>
</form>